---
const { categoryCards } = Astro.props;
const { page_name, serviceIcon, url_page } = categoryCards;
---

{
  categoryCards && (
    <section class="my-8 mb-12">
      <div class="container">
        <div class="row flex justify-center">
          {categoryCards.map((item: any) => (
            <div class="col-6 mb-8 lg:col-4 xl:col-3">
              <a
                href={item.url_page}
                rel="prefetch-intent"
                class="flex rounded-xl bg-white p-2 shadow-lg hover:bg-[#EDF7F3] hover:shadow-xl hover:grayscale-0 lg:grayscale"
              >
                <div class="w-30 h-30 flex items-center justify-center text-red-500 md:ml-2 lg:mr-4">
                  <svg
                    class="z-10"
                    xmlns="http://www.w3.org/2000/svg"
                    width="60"
                    height="60"
                    viewBox="0 0 1024 1024"
                  >
                    <g transform="rotate(90 512 512)">
                      <path
                        fill="#ec6227"
                        d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448s448-200.6 448-448S759.4 64 512 64zm0 820c-205.4 0-372-166.6-372-372c0-89 31.3-170.8 83.5-234.8l523.3 523.3C682.8 852.7 601 884 512 884zm288.5-137.2L277.2 223.5C341.2 171.3 423 140 512 140c205.4 0 372 166.6 372 372c0 89-31.3 170.8-83.5 234.8z"
                      />
                    </g>
                  </svg>
                  <img
                    alt={item.page_name}
                    class="w-100 h-100 absolute object-cover"
                    width={40}
                    height={40}
                    src={item.serviceIcon}
                  />
                </div>
                <div class="sm:text-md inline-flex items-center text-sm font-semibold text-primary">
                  {item.page_name}
                </div>
              </a>
            </div>
          ))}
        </div>
      </div>
    </section>
  )
}
