---
import { markdownify } from "@lib/utils/textConverter";
import HomapageFeature from "@layouts/function-components/HomapageFeature";
import Accordion from "@layouts/function-components/Accordion.jsx";
import { getEntryBySlug } from "astro:content"
const { key_services } = Astro.props;
const { title, service_top_list } = key_services;
const homepage = await getEntryBySlug("homepage", "index");
---

<section class="section key-feature relative">
  <img
    class="invisible absolute left-0 top-0 -z-[1] -translate-y-1/2 xl:visible"
    src="/images/protivogaz.webp"
    height={160}
    width={80}
    alt="услуги санэпидемстанции"
  />

  <div class="container">
    <div class="row justify-between text-center lg:text-start">
      <div class="lg:col-5">
        <h2 class="animate__animated animate__fadeIn" data-wow-duration="2s" data-wow-delay="5s" set:html={markdownify(title)} />
      </div>
      <div class="mt-6 lg:col-7 lg:mt-0">
        <Accordion client:load data={homepage.data} />
      </div>
    </div>
    <div class="my-10 text-2xl">Самые востребованные услуги:</div>
    <HomapageFeature feature_list={service_top_list} client:load />
  </div>
</section>