---
---
<div class="mt-5 lg:mt-8 flex flex-col lg:flex-row gap-2 sm:gap-3">
    <div class="">
      <label for="hero-name" class="sr-only">Имя</label>
      <input type="text" id="hero-name" name="hero-name" class="py-3 px-4 block w-full xl:min-w-[10rem] border-gray-200 shadow-sm rounded-lg focus:z-10 focus:border-primary focus:ring-primary dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" placeholder="Ваше имя">
    </div>
    <div class="">
      <label for="hero-phone" class="sr-only">Телефон</label>
      <input type="number" id="hero-phone" name="hero-phone" class="py-3 px-4 block w-full xl:min-w-[10rem] border-gray-200 shadow-sm rounded-lg focus:z-10 focus:border-primary focus:ring-primary dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" placeholder="Телефон">
    </div>
    <div class="inline-flex">
      <a class="z-10 w-full flex justify-center items-center gap-x-3 text-center bg-primary hover:bg-primary border border-transparent text-white font-medium rounded-lg focus:outline-none focus:ring-2 focus:ring-green-800 focus:ring-offset-2 focus:ring-offset-white transition py-3 px-4 dark:focus:ring-offset-gray-800" href="#">
        Заказать
      </a>
      <span class="relative flex h-4 w-4 ml-2 -mt-3">
        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-secondary opacity-75"></span>
        <span class="relative inline-flex rounded-full h-4 w-4 bg-secondary"></span>
      </span>
    </div>
  </div>