---
import { Icon } from "astro-icon";
const { counter } = Astro.props;
---

<div class="counter mt-14">
  <div class="row mx-0 rounded-[20px] bg-white px-10 shadow-lg lg:py-10">
    {
      counter.map((item: any) => (
        <div class="col-6 border-border px-3 py-6 text-center lg:col-3 lg:border-r lg:px-10 lg:py-0 last:lg:border-none">
          <h2>
            <span role="separator" class="count" aria-valuenow={item.number}>
              0
            </span>
            <span
              class={"text-primary"}
              style={{
                color: item.color,
              }}
            >
              <Icon class="mb-2 inline h-7 w-7" name={item.icon} />
            </span>
          </h2>
          <p>{item.name}</p>
        </div>
      ))
    }
  </div>
</div>

<script is:inline>
  const counters = document.querySelectorAll(".count");
  const speed = 700;
  counters.forEach((counter) => {
    const animate = () => {
      const value = +counter.getAttribute("aria-valuenow");
      const data = +counter.innerText;

      const time = value / speed;
      if (data < value) {
        counter.innerText = Math.ceil(data + time);
        setTimeout(animate, 1);
      } else {
        counter.innerText = value;
      }
    };

    animate();
  });
</script>
